# Ignore the virtual environment folder
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django's migrations
*/migrations/

# Ignore the database file (if using SQLite)
db.sqlite3

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore .env files for sensitive info
.env