# Ignore the virtual environment folder
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django's migrations
*/migrations/

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore .env files for sensitive info
.env

# Ignore Docker-related files # Ignore data directory (database files, uploaded files, etc.)
data/               
.docker/

# If you use overrides that are local to your setup
docker-compose.override.yml 

# Log files
*.log                    